<!-- ###MAINTEMPLATE### start -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title> ###TITLE### </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="###JSFILE1###" type="text/javascript" ></script>
  <script src="###JSFILE2###" type="text/javascript" ></script>

  ###CSSSTYLES###
</head>
<body>

<div id="header">
###USERNAVIGATION###

<h1>###TITLE###</h1>

</div>
<div id="topnavigation">
###TOPNAVIGATION###
</div>
<div id="navigation">###NAVIGATION###</div>

<div id="content" style='overflow:hidden;padding:5px;'>
###CONTENT###
</div>

<div id="borderContent">
###BORDER_CONTENT###
</div>
</body>
</html>
<!-- ###MAINTEMPLATE### end -->